<template>
	<div @mouseenter="onMouseEnter()" @mouseleave="onMouseLeave()">
		<h1>hi</h1>
		<vx-card class="overlay-card overflow-hidden">
			<template slot="no-body">
				<img :src="img" alt="category-card-cover" class="responsive" />

				<!-- <div class="card-overlay text-white">
					<div class="flex flex-col justify-between h-full">
						<div class="text-center mt-8 w-full">
							<h3 class="text-white mb-2 tracking-wide">
								{{ name }}
							</h3>
							<p class="mb-6">
								{{ description }}
							</p>
							<div class="flex justify-around">
								<svgicon
									:name="icon"
									class="w-24 h-24 text-6xl"
									width="200"
									height="200"
								/>
							</div>
						</div>
					</div>
				</div> -->
			</template>
		</vx-card>
	</div>
</template>
<script lang='ts'>
import { Component, Vue } from "vue-property-decorator";

export default class CategoryCc extends Vue {}
</script>
<style lang="css" scoped>
.noSelect {
	user-select: none;
}

.hover {
	transition: transform 0.4s;
	transform: scale(1.1);
}
</style>
