<template>
	<b-card
		class="d-flex align-self-center"
		style="max-width: 45rem; margin-top: -12rem"
	>
		<b-card-header class="d-flex my-0 py-0 justify-content-between">
			<b-card-title style="margin-left: -6%">Details</b-card-title>
			<b-card-title class="text-success" style="margin-right: -6%"
				>See All</b-card-title
			>
		</b-card-header>

		<hr />

		<b-row
			v-for="(data, i) in dummy"
			:key="i"
			class="d-flex justify-content-center align-self-center"
		>
			<b-img :src="data.icon" class="mx-1 mb-1" />

			<b-col>
				<b-card-text class="my-0">{{ data.title }}</b-card-text>
				<b-card-text class="font-weight-bolder">{{
					data.content
				}}</b-card-text>
			</b-col>
		</b-row>
	</b-card>
</template>

<script>
import {
	BCard,
	BCardTitle,
	BCardHeader,
	BCardText,
	BCol,
	BRow,
	BImg,
} from "bootstrap-vue";
import ClockIcon from "../assets/ClockIcon";
export default {
	components: {
		BCard,
		BCardTitle,
		BCardHeader,
		BCardText,
		BCol,
		BRow,
		BImg,
		ClockIcon,
	},
	data() {
		return {
			dummy: [
				{
					title: "Date and Time",
					content: "Sat, December 24, 2020 | 9:00 PM",
					icon: require("../assets/clock-green.png"),
				},
				{
					title: "Event Type",
					content: "Public Event",
					icon: require("../assets/earth-green.png"),
				},
				{
					title: "Location",
					content: "420 Mason St. San Francisco",
					icon: require("../assets/pin-green.png"),
				},
				{
					title: "Online Event",
					content: "Via Zoom",
					icon: require("../assets/data-green.png"),
				},
			],
		};
	},
};
</script>

<style>
</style>