<template>
	<b-card
		img-src="https://picsum.photos/600/300/?image=25"
		img-alt="Image"
		img-top
		class="mb-2 d-flex align-self-center"
		style="max-width: 70rem"
	>
		<b-row>
			<b-col>
				<b-card-text
					class="font-weight-bolder"
					style="font-size: 1.5rem"
				>
					Stringray Royal Palace
				</b-card-text>
				<b-card-text
					>Sat, November 30, 2020 | 9:00 PM | Via Zoom
				</b-card-text>
				<b-card-text class="mt-2">268 people interested </b-card-text>
			</b-col>
			<b-col
				class="d-flex flex-column justify-content-center align-items-end mt-n2"
			>
				<button class="my-1 w-50 btn btn-success">Get Ticket</button>
				<button class="w-50 btn btn-outline-success">Interested</button>
			</b-col>
		</b-row>
		<hr />

		<b-tabs>
			<b-tab title="About">About</b-tab>
			<b-tab title="Schedule">Schedule</b-tab>
			<b-tab title="Media">Media</b-tab>
			<b-tab title="Q&A">Q&A</b-tab>
		</b-tabs>
	</b-card>
</template>

<script>
import {
	BCard,
	BCardText,
	BTabs,
	BTab,
	BButton,
	BCol,
	BRow,
} from "bootstrap-vue";
export default {
	components: {
		BCard,
		BCardText,
		BTabs,
		BTab,
		BButton,
		BCol,
		BRow,
	},
};
</script>

<style>
</style>