<template>
	<b-navbar toggleable="lg" variant="faded" type="light">
		<b-navbar-brand class="my-1 pl-3" href="#">
			<BaboolyLogo />
		</b-navbar-brand>
		<b-navbar-nav class="ml-auto">
			<b-container class="bv-example-row">
				<b-col>
					<b-row class="pt-2">
						<PinIcon />
						<h4 class="font-weight-bolder px-1" href="#">
							San Francisco
						</h4>
					</b-row>
					<b-nav-text class="font-weight-bolder py-0 pl-3" href="#"
						>click to change</b-nav-text
					>
				</b-col>
				<h4 class="font-weight-bolder pt-0 px-1" href="#">Events</h4>
				<h4 class="font-weight-bolder px-1" href="#">Create Event</h4>
				<b-row class="mx-1">
					<BellIcon />
				</b-row>
				<b-row class="mx-1">
					<SearchIcon />
				</b-row>

				<b-row class="pr-3">
					<b-col>
						<h4
							class="font-weight-bolder"
							style="margin-top: 2vh; margin-bottom: 0"
						>
							John Doe
						</h4>
						<b-nav-text class="font-weight-bolder ml-2" href="#"
							>Available</b-nav-text
						>
					</b-col>
					<b-avatar
						size="lg"
						src="https://placekitten.com/300/300"
						style="margin-top: 1.5vh; margin-bottom: 0"
						variant="light-info"
					/>
				</b-row>
			</b-container>
		</b-navbar-nav>
	</b-navbar>
</template>

<script>
import {
	BNavbar,
	BNavbarBrand,
	BNavbarNav,
	BNavItem,
	BNavText,
	BNavItemDropdown,
	BRow,
	BAvatar,
	BContainer,
	BCol,
	BCollapse,
} from "bootstrap-vue";

import BaboolyLogo from "../assets/BaboolyLogo";
import PinIcon from "../assets/PinIcon";
import SearchIcon from "../assets/SearchIcon";
import BellIcon from "../assets/BellIcon";
export default {
	components: {
		BNavbar,
		BNavItem,
		BNavbarNav,
		BNavbarBrand,
		BNavText,
		BNavItemDropdown,
		BRow,
		BContainer,
		BAvatar,
		BCol,
		BCollapse,
		BaboolyLogo,
		PinIcon,
		BellIcon,
		SearchIcon,
	},
};
</script>

<style>
</style>