<template>
	<div>
		<Navbar class="mb-3" />
		<b-row class="d-flex justify-content-center">
			<EventsCard />
			<DetailsCard class="mx-5" />
		</b-row>
	</div>
</template>

<script>
import Navbar from "./components/Navbar";
import EventsCard from "./components/EventsCard";
import DetailsCard from "./components/DetailsCard";
import { BRow } from "bootstrap-vue";

export default {
	components: {
		EventsCard,
		Navbar,
		DetailsCard,
		BRow,
	},
};
</script>
 