<template>
	<svg
		width="20"
		height="22"
		viewBox="0 0 20 22"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M16 7C16 3.68629 13.3137 1 10 1C6.68629 1 4 3.68629 4 7C4 14 1 16 1 16H19C19 16 16 14 16 7"
			stroke="#90A0B7"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			d="M11.73 20.0001C11.3722 20.6169 10.7131 20.9965 10 20.9965C9.28695 20.9965 8.62782 20.6169 8.27002 20.0001"
			stroke="#90A0B7"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
	</svg>
</template>

<script>
export default {};
</script>

<style>
</style>