<template>
	<svg
		width="42"
		height="43"
		viewBox="0 0 42 43"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<rect
			y="0.937012"
			width="42"
			height="42"
			rx="5"
			fill="#CAF0EE"
			fill-opacity="0.4"
		/>
		<path
			d="M21 21.9371H20C20 22.2023 20.1054 22.4567 20.2929 22.6442L21 21.9371ZM21 30.2704C16.3976 30.2704 12.6667 26.5395 12.6667 21.9371H10.6667C10.6667 27.644 15.2931 32.2704 21 32.2704V30.2704ZM29.3333 21.9371C29.3333 26.5395 25.6024 30.2704 21 30.2704V32.2704C26.7069 32.2704 31.3333 27.644 31.3333 21.9371H29.3333ZM21 13.6038C25.6024 13.6038 29.3333 17.3347 29.3333 21.9371H31.3333C31.3333 16.2302 26.7069 11.6038 21 11.6038V13.6038ZM21 11.6038C15.2931 11.6038 10.6667 16.2302 10.6667 21.9371H12.6667C12.6667 17.3347 16.3976 13.6038 21 13.6038V11.6038ZM20 15.9371V21.9371H22V15.9371H20ZM20.2929 22.6442L24.2929 26.6442L25.7071 25.23L21.7071 21.23L20.2929 22.6442Z"
			fill="#1EA79D"
		/>
	</svg>
</template>

<script>
export default {};
</script>

<style>
</style>