<template>
	<svg
		width="22"
		height="24"
		viewBox="0 0 12 14"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M6 1.28564C3.23858 1.28564 1 3.44006 1 6.09767C1 8.75512 6 12.7142 6 12.7142C6 12.7142 11 8.75512 11 6.09767C11 3.44006 8.76142 1.28564 6 1.28564V1.28564Z"
			stroke="#90A0B7"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M6 8.42805C7.18346 8.42805 8.14285 7.46866 8.14285 6.28519C8.14285 5.10172 7.18346 4.14233 6 4.14233C4.81653 4.14233 3.85714 5.10172 3.85714 6.28519C3.85714 7.46866 4.81653 8.42805 6 8.42805Z"
			fill="#90A0B7"
		/>
	</svg>
</template>

<script>
export default {};
</script>

<style>
</style>